.page-layout {
  height: 100%;
  margin-bottom: 50px;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .container > div:first-child {
  display: flex;
}

.logo {
  width: 200px;
  display: flex;
  justify-content: center;
}
.logo img {
  height: 64px;
}