.canvas-suivi-trace-container {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  margin-top: 32px;
}
.canvas-suivi-trace {
  width: 100%;
  height: 100%;
}